<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EncryptionKey" value="C86CDD56841742201ED86BD3BA4C5F4E3CDD73D56A0447ED7837C5EAE955C7BB"/>
    <add key="InitVector" value=""/>
    <add key="UAVSerialNumberLength" value="12"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
